<h1>Listing bolog_lists</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bolog_lists.each do |bolog_list| %>
      <tr>
        <td><%= bolog_list.title %></td>
        <td><%= bolog_list.description %></td>
        <td><%= link_to 'Show', bolog_list %></td>
        <td><%= link_to 'Edit', edit_bolog_list_path(bolog_list) %></td>
        <td><%= link_to 'Destroy', bolog_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bolog list', new_bolog_list_path %>
